################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vscode
/build
/.idea
/cmake-build-debug
/.cache/
/cmake*
/clang-format.txt
/cmake-build-debug/*
/.cache/*
/test.cpp
/test.s
/testTools/Exe
/testTools/gen.ir
/testTools/test.c
/testTools/test.data
/testTools/test.log
/testTools/this.out
/testTools/std.out
/testTools/testcase.sy